<div id="welcomeContainer" style="display: none;">
    <!--<div class="cloudDiv">
        <div class="cloudTop"></div>
        <div class="cloudBottom"></div>
    </div>-->
    <div id="welcomeContent">
        <img id="welcomeImageSeal" src="assets/images/SealCircle.png"/>
        <span id="welcomeHeader">스프라이트 런쳐에 오신 것을 환영합니다!</span>
        <span id="welcomeDescription">스프라이트 런쳐는 매직 스프라이트 온라인에 접속하기 위해 개발된 최적의 런쳐입니다.</span>
        <br>
        <span id="welcomeDescCTA">계속하기 버튼을 눌러 계속 진행하여 주세요.</span>
        <button id="welcomeButton">
            <div id="welcomeButtonContent">
                계속
                <svg id="welcomeSVG" viewBox="0 0 24.87 13.97">
                    <defs>
                        <style>.arrowLine{fill:none;stroke:#FFF;stroke-width:2px;transition: 0.25s ease;}</style>
                    </defs>
                    <polyline class="arrowLine" points="0.71 13.26 12.56 1.41 24.16 13.02"/>
                </svg>
            </div>
        </button>
    </div>
    <script src="./assets/js/scripts/welcome.js"></script>
</div>
